header {
  background-image: url("https://images.unsplash.com/photo-1601989898437-e276bf5e99c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=gerardo-rosales-s7MIoV5xHRw-unsplash.jpg&w=1920");
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: blur;
  overflow: hidden;
}

.title {
  color: white;
  font-family: "lupine";
  transition: letter-spacing 0.4s;
  font-size: 5rem;
}

.title:hover {
  letter-spacing: 0.6rem;
}

.header-lnk {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-btn {
  color: white;
  font-family: "lupine";
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  transition: letter-spacing 0.4s;
  font-size: 2rem;
}

.header-btn:hover {
  letter-spacing: 0.6rem;
}

.blur-bg {
  transition: 0.4s filter linear;
  filter: blur(10px);
}

.hide {
  visibility: hidden;
}
